{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1 class="text-white">Bienvenue sur Wild Series !</h1>

<a type="button" class="btn btn-primary btn-lg" href="{{ path('program_index') }}">Accédez à toutes nos séries</a>

{% endblock %}
